body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.content-above-parallax {
    position: relative;
    z-index: 1;
}

.container {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
    
}

a:hover{
    background-color: black;
}

.dark-theme {
    color: #ffffff;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #080124, #1000f7);
    transition: background-image 6s;
}

.center {
    margin: 4% auto;
    width: 50%;
    border-radius: 10px;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    border-bottom: 3px solid;
    height: 9vh;
    font-size: 40px;
    font-weight: 900;
}

#latestTime {
    margin-bottom: 1px;
}

#current-time {
    font-size: 15px;
    color: gold;
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.center-caption {
    font-family: Handjet;
    font-size: 100px;
    justify-content: center;
    white-space: nowrap;
    margin: 4% auto;
    width: 50%;
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1vh;
}

canvas {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#clicks {
    position: fixed;
    color: white;
    bottom: 10px;
    right: 10px;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
}

#smallText {
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    width: 90%;
    color: rgba(239, 235, 194, 0.669);
    text-align: center;
    position: fixed;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    z-index: 1;
}